.form {
    background-color: #fff;
    &__cancel {
        margin-top: 1rem;
    }
    &__heading {
        font-size: 2rem;
        text-align: center;
        margin: 2rem auto 1rem auto;
    }
    &__fields {
        padding: 1rem;
    }
}
