.main {
    &__heading {
        font-size: 3.5rem;
        text-align: center;
        margin: 0rem auto;
        margin-bottom: 1.6rem;
        color: white;
    }
  
    &__subheading {
        font-size: 1rem;
        text-align: center;
        margin: 0rem auto;

        color: white;
    }
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
