.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    width: 80%;
    border: 0.1rem solid;
    border-radius: 0.5rem;

    &__field {
        margin: 1rem auto;
        padding: 0.6rem;
        background-color: rgba(#fff, 0.6);
    }

    &__button {
        border-color: transparent;
        background-color: #600858;

        &_text {
            text-align: center;
            color: #fff;
        }
    }
}

.cancel {
    &__button {
        margin: 2rem auto auto 1rem;
    }
    &__text {
        margin-left: 0.3rem;
    }
}
